<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test name="C:/Users/WIIS/IdeaProjects/demoTest/src/test/java/TestNGnew/day1">
        <classes>
            <class name="TestNGnew.day1.demoTest"/>
        </classes>
    </test>
</suite>